body {
    text-align: center;
}
img {
    width: 280px;
    height: 280px;
}
#avengers {
    width: 800px;
    height: 400px;
}
#myCarousel {
    background-color: coral;
}

#myCarousel image {
    height: 300px;
    margin: 35px;
}

.carousel-inner p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}
